// Variables
$primary-color: #0033cc;
$dark-gradient: #001a66;
$hover-color: #506cf5;
$light-gradient: $primary-color;
$text-color: white;
$padding: 1em;

// Mixins
@mixin flex-container($justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin gradient-background($start-color, $end-color) {
  background: linear-gradient(to right, $start-color, $end-color);
}

// Header Styles
.header {
  @include gradient-background($dark-gradient, $light-gradient);
  color: $text-color;
  padding-left: $padding 0;

  .container {
    @include flex-container;

    .logo {
      font-size: 1.5em;
      font-weight: bold;
      padding: $padding;
    }

    nav {
      ul {
        list-style: none;
        @include flex-container(flex-start);

        li {
          margin-right: 1em;
          transition: background-color 0.3s ease; // Add transition for smooth color change

          &:hover {
            background-color: $hover-color; // Apply hover color to the list item
          }

          a {
            color: $text-color;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
              color: $hover-color; // Apply hover color to the anchor tag
            }
          }
        }
      }
    }

    .user-icon {
      margin-left: auto;
      display: flex;
      align-items: center;
      padding-right: $padding;

      img {
        border-radius: 0;
        width: 27px;
        height: 28px;
        margin-left: auto;

        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}
